@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
input {
    outline: none;
    border: none;
    background: none;
}
div {
    display: flex;
}
html, body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(12, 15, 20, 0.2), rgba(12, 15, 20, 0.6)), url('./images/background.png') center fixed no-repeat;
    /* linear-gradient(0deg, rgba(12, 15, 20, 0.55) 0%, rgba(12, 15, 20, 0.275) 100%), url(image.png); */
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #D0DAE7;
}
.application {
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    width: 600px;
    padding: 60px 30px;
}
.container {
    flex-direction: column;
    gap: 20px;

}
.content {
    flex-direction: column;
    gap: 10px;

    background: rgba(13, 16, 21, 0.3);
    padding: 10px;
    border-radius: 4px;

    font: 400 15px/17px "Poppins", sans-serif;
    color: rgba(208, 218, 231, 0.8);
}
.box {
    display: block;
    background: rgba(13, 16, 21, 0.5);
    border-radius: 4px;
    padding: 10px;
    color: #D0DAE7;
    font-weight: 300;
}
.loading {
    justify-content: center;
    width: 100%;
}
.center {
    text-align: center;
}
.header {
    flex-direction: row;
    padding: 0 20px;
    gap: 20px;
}
.header > .title {
    flex-direction: column;
    font: 800 21px/1 'Poppins', sans-serif;
    width: 100%;
    color: #ffffff;
}
.header > .title > .subTitle {
    font: 400 15px/1 'Poppins', sans-serif;
    color: rgba(208, 218, 231, 0.8);
}
.generator, .addGroupForm {
    display:flex;
    flex-direction:row;
    background: rgba(13, 16, 21, 0.8);
    border: 1px solid rgba(111, 129, 149, 0.2);
    border-radius: 4px;
}
input {
    font: 500 15px/1 "Poppins", sans-serif;
    width: 100%;
    padding: 10px 12px;
    border: none;
    color: rgba(208, 218, 231, 1);

}
button, .createGroup {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    padding: 0 18px;
    align-items: center;
    background: none;
    border: none;
    white-space: nowrap;
    gap: 10px;
    font: 500 15px/1 "Poppins", sans-serif;
}
button:hover, .createGroup:hover {
    text-shadow: 0px 4px 12px rgba(50, 180, 73, 0.8);
}
.smallButton {
    align-items: center;
    padding: 0 12px;
    border-radius: 100px;
    gap: 5px;

    background: rgba(14, 19, 24, 0.7);
    font: 400 13px/17px "Poppins", sans-serif;

    white-space: nowrap;
}
.groups {
    flex-direction: column;
}
.groups > .content {
    flex-direction: column;
    gap: 10px;
}
.group {
    background: rgba(13, 16, 21, 0.8);
    padding: 10px;
    border-radius: 4px;
    flex-direction: row;
    gap: 10px;
}
.group > img {
    border-radius: 2px;
}
.group > .name {
    font: 600 15px/1 "Poppins", sans-serif;
    flex-direction: column;
}
.group > .details {
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 0 10px 0 0;
    gap: 12px;
}
.group > .details > .name {
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
    line-height: 1;
    flex: 1;
    font-size: 15px;
    color: #F3F8FF;
    font-weight: 600;
}
.group > .details > .url, .members {
    display: flex;
    font-size: 15px;
    justify-content: center;
}
.group > .details > .name > .abbrevitation {
    color: rgba(208, 218, 231, 0.8);
    font-size: 13px;
    font-weight: 400;
}
.members {
    gap: 5px;
}
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    color: #D0DAE7;
}
b, a {
    font-weight: 500;
    background: linear-gradient(90deg, #6ED34B 0%, #2BB048 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* Overlay */
#overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 16, 21, 0.90);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
  
.overlay-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 480px;
    /* background: rgba(14, 19, 24, 1); */
    padding: 20px;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    gap: 20px;
}
  
#overlay.active .overlay-content {
    opacity: 1;
    transform: scale(1);
}

.overlay-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

#close-button {
    border: none;
    cursor: pointer;
}
.addGroupContent > input {
    background: #0E1218;
    border: 1px solid rgba(111, 129, 149, 0.44);
    padding: 8px 12px;
    border-radius: 4px;
    color: #E4EBF4;
}
.information {
    font: 400 13px/1 "Poppins", sans-serif;
    background: rgba(51, 180, 73, 0.5);
    border: 1px solid #228843;
    padding: 8px 12px;
    border-radius: 4px;
    color: #E4EBF4;
}
.error {
    font: 400 13px/1 "Poppins", sans-serif;
    background: rgba(180, 51, 51, 0.37);
    border: 1px solid #822C2C;
    border-radius: 4px;
    padding: 8px 12px;
    border-radius: 4px;
    color: #E4EBF4;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(208, 218, 231, 0.6);
    opacity: 1; /* Firefox */
}
.addGroupContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.overlayAddGroup {
    color: rgba(208, 218, 231, 0.8);
}